# Adres serwera z modelem (drugi komputer lub localhost)
VLLM_BASE_URL=http://127.0.0.1:8000/v1

# Nazwa modelu dokładnie tak jak w vLLM
MODEL_NAME=speakleash/Bielik-4.5B-v3.0-Instruct
# MODEL_NAME=speakleash/Bielik-11B-v2.6-Instruct

# vLLM nie wymaga klucza, ale SDK wymaga niepustej wartości
OPENAI_API_KEY=EMPTY

# FastAPI
API_HOST=0.0.0.0
API_PORT=8080
